@model TwoFunTwoMeFintech.Models.DTO.clsSUBMENU

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>clsSUBMENU</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.SUBMENU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUBMENU)
            @Html.ValidationMessageFor(model => model.SUBMENU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CONTROLLER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CONTROLLER)
            @Html.ValidationMessageFor(model => model.CONTROLLER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAINMENUID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAINMENUID)
            @Html.ValidationMessageFor(model => model.MAINMENUID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ROLEID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ROLEID)
            @Html.ValidationMessageFor(model => model.ROLEID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ACTION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACTION)
            @Html.ValidationMessageFor(model => model.ACTION)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<<<<<<< HEAD
<script type="text/javascript">
            @if (!User.Identity.IsAuthenticated)
            {

                System.Web.Security.FormsAuthentication.SignOut();
                System.Web.Security.FormsAuthentication.RedirectToLoginPage();
                Response.Redirect(FormsAuthentication.LoginUrl, true);
            }

</script>
=======
>>>>>>> 02077533187183e7a76adbfd15db5d101424f851
