@model TwoFunTwoMeFintech.Models.DTO.GestionGeneral

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>GestionGeneral</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdSolicitud)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSolicitud)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Detalle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detalle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaIngreso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaIngreso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cod_Agente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cod_Agente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaGestion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaGestion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoGestion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoGestion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Activo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
    <script type="text/javascript">
            @if (!User.Identity.IsAuthenticated)
            {

                System.Web.Security.FormsAuthentication.SignOut();
                System.Web.Security.FormsAuthentication.RedirectToLoginPage();
                Response.Redirect(FormsAuthentication.LoginUrl, true);
            }

    </script>