<<<<<<< HEAD
﻿<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.11.2/alertify.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.11.2/css/alertify.min.css" rel="stylesheet" />
<script src="~/Scripts/Proyecto/Seguridad.js"></script>
<script src="~/Scripts/Proyecto/apputils.js?v=1"></script>
@*<body onload="startTime();">
</body>*@
<div id="menu" class="nav-menu">
    @*<div id="clock"></div>*@
    <ul class="menu">
        <li id="menu-principal-funcion"><a class="header-brand" href="#"><span class="glyphicon glyphicon-align-right" aria-hidden="true"></span></a></li>
        <li id="imagen-menu" class="imagen-menu-abierto"><img src="~/Content/menu/iconos/Fenix-logo-alternativo.png" /></li>
        @if (Session["MenuMaster"] != null)
        {
            var MenuMaster = (List<TwoFunTwoMeFintech.Models.MenuModels>)Session["MenuMaster"];
            var groupByMenu = MenuMaster.GroupBy(x => x.MainMenuName).ToList();

            foreach (var MenuList in groupByMenu)
            {
                <li class="item">
                    <p class="tooltiptext">@MenuList.Key</p>
                    <a href="#" class="flecha-menu"><img class="imagen-item" src="~/Content/menu/iconos/administrar.png" id="@MenuList.Key" />@MenuList.Key<span class="glyphicon glyphicon-menu-right"></span></a>
                    <ul style="display:block;">
                        @foreach (var SubMenuList in MenuList)
                        {
                            <li class="subitem">
                                <p class="tooltiptext">@SubMenuList.SubMenuName</p>
                                <a class="item-submenu" href="/@SubMenuList.ControllerName/@SubMenuList.ActionName" target="_parent" value="@SubMenuList.SubMenuName">@SubMenuList.SubMenuName<span value="@SubMenuList.SubMenuName"></span></a>
                            </li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
    <ul class="usuario-login">
        <li class="dropdown cerrar-sesion">
            @if (Session["UserName"] != null)
=======
﻿<script src="~/Content/alertifyjs/alertify.js"></script>
<script src="~/Content/alertifyjs/alertify.min.js"></script>
<link href="~/Content/alertifyjs/css/alertify.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/alertify.min.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/alertify.rtl.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/alertify.rtl.min.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/themes/bootstrap.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/themes/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/themes/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/themes/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/themes/default.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/themes/default.rtl.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/themes/default.rtl.min.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/themes/semantic.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/themes/semantic.min.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/themes/semantic.rtl.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/css/themes/semantic.rtl.min.css" rel="stylesheet" />

<nav class="navbar navbar-inverse">
     
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>

            

        </div>
        <ul class="nav navbar-nav">


            @if (Session["MenuMaster"] != null)
>>>>>>> 02077533187183e7a76adbfd15db5d101424f851
            {
                <p>@Session["UserName"].ToString()</p>
            }
<<<<<<< HEAD
        </li>
        <li class="dropdown cerrar-sesion">
            @if (Session["LoginCredentials"] != null)
            {
                <p class="tooltiptext">Cerrar Sesión</p>
                <a href='@Url.Action("LogOff", "Login")'>Cerrar Sesión <span class="glyphicon glyphicon-off" onclick=""></span></a>
                @*<a href='#' onclick="CerrarSesion();">Cerrar Sesión <span class="glyphicon glyphicon-off"></span></a>*@
            }
            else
            {
                @Html.ActionLink("Login", "Login", "Login")
            }
        </li>
        <li class="espacio cerrar-sesion">
            <br />
        </li>
    </ul>
</div>
<script src="~/Content/menu/menu-script.js"></script>
=======

        </ul>

        <ul class="nav navbar-nav navbar-right">
          
            </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                @if (Session["UserName"] != null)
                {
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>@Session["UserName"].ToString()</strong>
                        @*<span class="glyphicon glyphicon-chevron-down"></span>*@
                    </a>

                }
            </li>

            <li class="dropdown">
                @if (Session["LoginCredentials"] != null)
                {


                    @*<a class="navbar-brand" href="#"><img src="~/Content/bootstrap-4.0.0/4.ico" width="30" height="30" class="d-inline-block align-content-center" alt="">@Html.ActionLink("  ", "LogOff", "Login")</a>*@


                    <a href='@Url.Action("Login", "Login")'>
                        <img src='@Url.Content("~/Content/bootstrap-4.0.0/4.ico") ' width="30" height="30" class="d-inline-block align-content-center" />
                    </a>

                    @*@Html.ActionLink("Logout", "LogOff", "Login", null, new { @class = "glyphicon glyphicon-share" })*@

                    @*<a href="@Url.Action("Action", "Controller")" class="glyphicon glyphicon-user">
                link text
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>*@

                    @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
                <strong>@Html.ActionLink("Logout", "LogOff", "Login")</strong>
            </a>*@

                    @*@Html.ActionLink("Logout", "LogOff", "Login", htmlAttributes: new { @class = "glyphicon glyphicon-user" })*@

                }
                else
                {
                    @Html.ActionLink("Login", "Login", "Login")
                }
            </li>

        </ul>

    </div>

</nav>
>>>>>>> 02077533187183e7a76adbfd15db5d101424f851
