@model TwoFunTwoMeFintech.Models.DTO.Roles

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Roles</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ROLES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ROLES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mensaje)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mensaje)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACCION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACCION)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
<<<<<<< HEAD
    <script type="text/javascript">
            @if (!User.Identity.IsAuthenticated)
            {

                System.Web.Security.FormsAuthentication.SignOut();
                System.Web.Security.FormsAuthentication.RedirectToLoginPage();
                Response.Redirect(FormsAuthentication.LoginUrl, true);
            }

    </script>
=======
>>>>>>> 02077533187183e7a76adbfd15db5d101424f851
