@model TwoFunTwoMeFintech.Models.dto_login
@{
	ViewBag.Title = "Crear";
	Layout = null;
}
<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <head>
            @*<meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                <meta name="author" content="">
                <link rel="icon" href="../../../../favicon.ico">

                <title>Signin Template for Bootstrap</title>*@
            <!-- Bootstrap core CSS -->
            @*<link href="~/Content/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">*@
        </head>
		<form>
			<script type="text/javascript">
				$(document).ready(function () {
					$('input[type="text"]').val('');
				});
			</script>


			<div class="input-group">
				@*@Html.LabelFor(model => model.nombre)*@
				@Html.LabelFor(model => model.nombre, new { @class = "input-group-addon", style = "width: 135px;" })
				@Html.TextBox("txtnombre", "", new { @class = "form-control", @placeholder = "nombre", required = "required", style = "width: 300px;" })

			</div>
			<div style="height:5px">
			</div>
			<div class="input-group">
				@Html.LabelFor(model => model.cod_agente, new { @class = "input-group-addon", style = "width: 135px;" })
				@Html.TextBox("txtcod_agente", "", new { @class = "form-control", @placeholder = "Cédula", required = "required", style = "width: 300px;" })
			</div>
			<div style="height:5px">
			</div>
			<div class="input-group">
				@Html.LabelFor(model => model.correo, new { @class = "input-group-addon", style = "width: 135px;" })
				@Html.TextBox("txtCorreo", "", new { @class = "form-control", @placeholder = "name@example.com", required = "required", style = "width: 300px;" })
				@*	<label for="exampleFormControlInput1">Email address</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">*@
			</div>
			<div style="height:5px">
			</div>
			<div class="input-group">
				@Html.LabelFor(model => model.ROLID, new { @class = "input-group-addon", style = "width: 135px;" })
				@Html.DropDownListFor(model => model.ROLID, new SelectList(Model.ListRoles, "ID", "ROLES"), "-- Seleccione --", htmlAttributes: new { @class = "form-control", id = "ddlRoles", style = "width: 300px;" })
				@Html.ValidationMessageFor(model => model.ROLID, "", new { @class = "text-danger" })
				@*@Html.TextBox("ROLID", "", new { @class = "form-control", @placeholder = "ROLID", required = "required" })*@
			</div>
			<div style="height:5px">
			</div>
			<div class="input-group">
				@Html.LabelFor(model => model.pass, new { @class = "input-group-addon", style = "width: 135px;" })
				@Html.TextBox("txtpass", "", new { @class = "form-control", @placeholder = "Password", required = "required", style = "width: 300px;" })
			</div>
			<div style="height:5px">
			</div>
			<div class="input-group">
				@Html.LabelFor(model => model.ConfirmPassword, new { @class = "input-group-addon" })
				@Html.TextBox("txtConfirmPassword", "", new { @class = "form-control", @placeholder = "ConfirmPassword", required = "required" })
			</div>
			<div style="height:5px">
			</div>
			<div class="form-label-group">
				<div class="form-group col-md-2">
					<button type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal" onclick="Crear();">Crear</button>
				</div>
			</div>
		</form>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
