@{
    ViewBag.Title = "Index";
}
<link href="~/Styles/GestionCartera.css" rel="stylesheet" />
<div class="fondo-general"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="titulo-pagina-gestion-cartera">
            <h1 id="lblTituloGestionCartera">Gestiones de Cartera</h1>
        </div>
    </div>
</div>
<div class="contenido-general row">
    <div class="col-lg-4">
        <div class="table-responsive">
            <form class="form-inline" onSubmit="return false;">
                <div class="btn-group btn-group-s" role="group">
                </div>
                <button type="button" id="btnFiltrar" onclick="MostrarFiltros();" required class="btn btn-primary btn-group-s"><span class="fas fa-angle-double-down"></span><span class="tooltiptexCartera">Buscar Por Nombre</span></button>
                <button type="button" id="btnBuscar" onclick="buscar('ConsultaCobros');" required class="btn btn-primary btn-group-s"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                <input id="txIdentificacion" onkeyup="buscarColaKey(event);" type="text" class="form-control input-sm" name="msg" placeholder="Ingrese Identificacion">
            </form>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="table-responsive">
            <form class="form-inline">
                <div class="btn-group btn-group-s" role="group"></div>
                <button type="button" id="btnCalCular" onclick="calcularCuotas();" required class="btn btn-primary btn-group-s"><span class="glyphicon glyphicon-indent-left"></span> Calcular</button>
                <input id="txtFechaCalcular" type="date" data-date="" data-date-format="YYYY MMMM DD" class="form-control input-sm" name="msg">
            </form>
        </div>
    </div>
    <div class="col-lg-4" id="menu-acciones">
        <div class="table-responsive">
            <form id="form-menu-acciones" class="form-inline">
                <div class="btn-group btn-group-s" role="group"></div>
                <button type="button" id="btnMenuAcciones" class="menu-acciones-toggle"><span class="fas fa-bars"></span><span class="tooltiptexCartera">Acciones</span></button>
                <div id="acciones-cobros" class="menu-acciones-content" style="display: none;">
                    <ul>
                        <li id="itemReiniciar" onclick="ReiniciarCredito()"><a><span class="glyphicon glyphicon-refresh"></span>  Reiniciar Credito</a></li>
                        <li id="itemCancelar" onclick="CancelarCredito()"><a><span class="glyphicon glyphicon-remove"></span>  Cancelar Credito</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="filtro-busqueda" class="contenido-general row oculto" style="display:none;">
    <div class="col-lg-11">
        <div class="row">
            <div class="col-lg-3">
                <form class="form-inline" onSubmit="return false;">
                    <div class="btn-group btn-group-s" role="group">
                    </div>
                    <label>Primer</label>
                    <input id="txtPrimerNombre" onkeyup="buscarColaKey(event);" type="text" class="form-control input-sm" name="msg" placeholder="Nombre">
                </form>
            </div>
            <div class="col-lg-3">
                <form class="form-inline" onSubmit="return false;">
                    <div class="btn-group btn-group-s" role="group">
                    </div>
                    <label>Segundo</label>
                    <input id="txtSegundoNombre" onkeyup="buscarColaKey(event);" type="text" class="form-control input-sm" name="msg" placeholder="Nombre">
                </form>
            </div>
            <div class="col-lg-3">
                <form class="form-inline" onSubmit="return false;">
                    <div class="btn-group btn-group-s" role="group">
                    </div>
                    <label>Primer</label>
                    <input id="txtPrimerApellido" onkeyup="buscarColaKey(event);" type="text" class="form-control input-sm" name="msg" placeholder="Apellido">
                </form>
            </div>
            <div class="col-lg-3">
                <form class="form-inline" onSubmit="return false;">
                    <div class="btn-group btn-group-s" role="group">
                    </div>
                    <label>Segundo</label>
                    <input id="txtSegundoApellido" onkeyup="buscarColaKey(event);" type="text" class="form-control input-sm" name="msg" placeholder="Apellido">
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="table-responsive">
            <form class="form-inline" onSubmit="return false;">
                <div class="btn-group btn-group-s" role="group">
                </div>
                <button type="button" id="btnBuscarNombre" onclick="BuscarNombre();" required class="btn btn-primary btn-primary-asignar btn-group-s"><span class="fas fa-search"></span><span class="tooltiptexCartera">Buscar Por Nombre</span></button>
            </form>
        </div>
    </div>
</div>
<div id="item-info-personal" class="row contenido-general-item" style="display:none;">
    <div class="col-lg-4">
        <div class="row">
            <div id="contenedor-imagen" class="col-lg-4">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" id="imgClienteCartera" class="img-thumbnail" alt="Cinque Terre">
            </div>
            <div class="col-lg-8">
                <p id="p-nombre" class="lblInfoNombre"><span class="glyphicon glyphicon-user"></span><span id="lblNombre"></span></p>
                <p class="lblInfo"><span class="fas fa-address-card"></span><strong>Identificacion: </strong><span id="lblidentificacion"></span></p>
                <p class="lblInfo"><span class="glyphicon glyphicon-credit-card"></span><strong>Id Crédito: </strong><span id="lblCodCliente"></span></p>
                <p class="lblInfo"><span class="glyphicon glyphicon-phone"></span><strong>Celular: </strong><span id="lblTelMovil"></span></p>
                <p class="lblInfo"><span class="glyphicon glyphicon-phone-alt"></span><strong>Casa: </strong><span id="lblTelCasa"></span></p>
                <p class="lblInfo"><span class="glyphicon glyphicon-earphone"></span><strong>Trabajo: </strong><span id="lblTelTrabajo"></span></p>
                <p class="lblInfo"><span class="glyphicon glyphicon-envelope"></span><span id="lblCorreo"></span></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <form class="form-inline" onSubmit="return false;">
                        <label id="lblEtiquetaEstadoCivil"><span class="fas fa-church"></span>  Estado Civil: </label>
                        <label id="lblEstadoCivil" class="lblInfo"></label>
                    </form>
                    <form class="form-inline" onSubmit="return false;">
                        <label id="lblEtiquetaConyugue"><span class="fas fa-female"></span>  Conyugue:</label>
                        <label id="lblConyugue" class="lblInfo"></label>
                    </form>
                    <form class="form-inline" onSubmit="return false;">
                        <label id="lblEtiquetaTrabajo"><span class="glyphicon glyphicon-lock"></span>  Trabajo: </label>
                        <label id="lblTrabajoNombre" class="lblInfo"></label>
                    </form>
                    <form class="form-inline" onSubmit="return false;">
                        <label id="lblEtiquetaFechaApertura"><span class="far fa-calendar-check"></span>  Fecha Apertura:</label>
                        <label id="lblApertura" class="lblInfo"></label>
                    </form>
                    <form class="form-inline" onSubmit="return false;">
                        <label id="lblEtiquetaFechaMod"><span class="fas fa-calendar-alt"></span>  Fecha Modificación:</label>
                        <label id="lblFecMod" class="lblInfo"></label>
                    </form>
                    <form class="form-inline" onSubmit="return false;">
                        <label id="lblEtiquetaUsusarioMod"><span class="fas fa-file-signature"></span>  Usuario Modificación: </label>
                        <label id="lblUsuarioMod" class="lblInfo"></label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <form class="form-inline" onSubmit="return false;">
                        <label id="lblEtiquetaDirTrabajo"><span class="fas fa-city"></span>  Dirección Trabajo: </label>
                    </form>
                    <form class="form-inline" onSubmit="return false;">
                        <label type="text" id="txtDirecionTrabajo" class="lblInfo"></label>
                    </form>
                    <form class="form-inline" onSubmit="return false;">
                        <label id="lblEtiquetaDirDomicilio"><span class="glyphicon glyphicon-home"></span>  Dirección Domicilio:</label>
                    </form>
                    <form class="form-inline" onSubmit="return false;">
                        <label type="text" id="txtDirecion" class="lblInfo"></label>
                    </form>
                    <form class="form-inline" onSubmit="return false;">
                        <label id="lblEtiquetaComentario"><span class="glyphicon glyphicon-comment"></span>  Nota Permanente:</label>
                    </form>
                    <form class="form-inline" onSubmit="return false;">
                        <input type="text" id="txtComentario" class="lblInfo">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contenido-general row">
    <div class="col-md-12 ">
        <div class="table-responsive">
            <div>
                <table id="tblDatosCreditos" class="container table table-bordered table-hover no-footer dataTable">
                    <thead>
                        <tr class="info">
                            <th>Producto</th>
                            <th>Dias Venc.</th>
                            <th>Cuota</th>
                            <th>Comisión</th>
                            <th>Saldo Venc.</th>
                            <th>Saldo Total</th>
                            <th>Saldo Capital</th>
                            <th>Int. Corriente</th>
                            <th>Int. Mora</th>
                            <th>Cargo Mora</th>
                            <th>Mora Desde</th>
                            <th>Fec.Ult.Pago</th>
                            <th>Mto.Ult.Pago</th>
                        </tr>
                    </thead>
                    <tbody class="tbody HistoDatosCreditos"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <ul id="ul-tabs-cartera" class="nav nav-tabs tabs-cartera">
        <li id="tab1" class="active"><a data-toggle="tab" href="#ContactosTab"><span class="round-tabs one"><i class="fas fa-phone-volume"></i></span><span class="tooltiptexMenu">Contactos</span></a></li>
        <li id="tab2"><a data-toggle="tab" href="#TabDireccion"><span class="round-tabs one"><i class="fas fa-map-marked-alt"></i></span><span class="tooltiptexMenu">Direcciones</span></a></li>
        <li id="tab3"><a data-toggle="tab" href="#TabHisto"><span class="round-tabs one"><i class="fas fa-clipboard-list"></i></span><span class="tooltiptexMenu">Historico Gestiones</span></a></li>
        <li id="tab4"><a data-toggle="tab" href="#TabPromPagos"><span class="round-tabs one"><i class="fas fa-donate"></i></span><span class="tooltiptexMenu">Promesas de Pagos</span></a></li>
        <li id="tab5"><a data-toggle="tab" href="#TabPagos"><span class="round-tabs one"><i class="fas fa-hand-holding-usd"></i></span><span class="tooltiptexMenu">Pagos</span></a></li>
        <li id="tab6"><a data-toggle="tab" href="#TabPrestamos"><span class="round-tabs one"><i class="fas fa-money-bill-wave"></i></span><span class="tooltiptexMenu">Prestamos</span></a></li>
        <li id="tab7"><a data-toggle="tab" href="#TabRefPersonales"><span class="round-tabs one"><i class="fas fa-address-book"></i></span><span class="tooltiptexMenu">Referencias Personales</span></a></li>
        <li id="tab8"><a data-toggle="tab" href="#TabAdminDocumentos"><span class="round-tabs one"><i class="fas fa-folder-open"></i></span><span class="tooltiptexMenu">Administrar Documentos</span></a></li>

        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
        <div class="line line4"></div>
        <div class="line line5"></div>
        <div class="line line6"></div>
        <div class="line line7"></div>

    </ul>
    <div class="tab-content contenido-general">
        <div id="ContactosTab" class="tab-pane fade in active">
            @Html.Action("Contactos")
        </div>
        <div id="TabDireccion" class="tab-pane fade in">
            @Html.Action("ContactosDireccion")
        </div>
        <div id="TabHisto" class="tab-pane fade in">
            @Html.Action("HistoricoGestiones")
        </div>
        <div id="TabPromPagos" class="tab-pane fade in">
            @Html.Action("HistoricoPromesasPagos")
        </div>
        <div id="TabPagos" class="tab-pane fade in">
            @Html.Action("HistoricoPagos")
        </div>
        @*<div id="TabCreditos" class="tab-pane fade in">
            @Html.Action("consultarGridCreditos")
        </div>*@
        <div id="TabPrestamos" class="tab-pane fade in">
            @Html.Action("consultarPrestamosCliente")
        </div>
        @*<div id="TabPrestamosParientes" class="tab-pane fade in">
            @Html.Action("consultarPrestamosParientes")
        </div>*@
        <div id="TabRefPersonales" class="tab-pane fade in">
            @Html.Action("ReferenciasPersonales")
        </div>
        @*<div id="TabCorreos" class="tab-pane fade in">
            @Html.Action("CorreoPersona")
        </div>*@
        <div id="TabAdminDocumentos" class="tab-pane fade in">
            @Html.Action("AdministrarDocumentos")
        </div>
    </div>

</div>
<!--Ventanas Modales-->
<div class="modal fade" Id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">×</span></button>*@
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <div id="demo">
                    <div>
                        <table class="table table-striped">
                            <tr class="success">
                                <th>Cantidad Procesada</th>
                                <td><label id="lblCantidadProcesada" class="text-muted"></label></td>
                            </tr>
                            <tr class="danger">
                                <th>Cantidad Pendiente</th>
                                <td><label id="lblCantidadPendiente" class="text-muted"></label></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" Id="btnUpdate" style="display:none;" onclick="Update();">Actualizar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" Id="CalculadoraModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">×</span></button>*@
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <div id="demo">
                    <div>
                        <table class="table table-striped">
                            <tr class="success">
                                <th>Dias Mora</th>
                                <td><label id="lblDiasMora" class="text-muted"></label></td>
                                <th>Monto Calculado</th>
                                <td><label id="lblMontoCalculado" class="text-muted"></label></td>
                                <th>Monto Cancela</th>
                                <td><label id="lblMontoCancela" class="text-muted"></label></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" Id="btnUpdate" style="display:none;" onclick="Update();">Actualizar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" Id="CalculadoraModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">×</span></button>*@
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <div id="demo">
                    <div>
                        <table class="table table-striped">
                            <tr class="success">
                                <th>Dias Mora</th>
                                <td><label id="lblDiasMora" class="text-muted"></label></td>
                                <th>Monto Calculado</th>
                                <td><label id="lblMontoCalculado" class="text-muted"></label></td>
                                <th>Monto Cancela</th>
                                <td><label id="lblMontoCancela" class="text-muted"></label></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" Id="btnUpdate" style="display:none;" onclick="Update();">Actualizar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" Id="ElegirConsulta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <div class="modal-header titulo-modal">
                <p class="titulo-ventana-modal"><strong>Seleccione la cuenta que desea consultar</strong></p>
            </div>
            <div class="modal-body">
                <div id="demo-consulta-cobros">
                    <form>
                        <table ID="tableConsultaCobros" class="container table table-bordered table-hover no-footer dataTable">
                            <thead>
                                <tr class="info">
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Identificación
                                    </th>
                                    <th>
                                        IdCredito
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tblConsultaCobros" class="tbody planPago"></tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Proyecto/GestionCartera/GestionCartera.js"></script>
<script src="~/Scripts/Proyecto/download.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>